<div class="background">

    <div class="aba">
        <div class="logo">
            <img src="assets/sheet.png" alt="logo" id="logo">
            <h1 id="logo-name">Spreadsheet</h1>
        </div>

        <ul>
            <img src="assets/add.png" alt="image-add" class="aba-icons">
            <li><a href="#add">Adicionar</a></li>
            <img src="assets/brush.png" alt="image-style" class="aba-icons">
            <li><a href="#style">Estilizar</a></li>
        </ul>

    </div>

</div>
